button,
.button,
input[type="button"],
input[type="submit"],
textarea {
  line-height: var(--lineHeight);
}
select,
input {
  --lineHeight: 1;
}

.site-title a {
  --lineHeight: 1;
}

.site-header .site-description {
  --lineHeight: 1.5;
}

.kmt-single-post .entry-title,
.kmt-single-post .entry-title a {
  --lineHeight: 1.2;
}

.entry-title,
.entry-title a {
  --fontWeight: normal;
}
