/*
* Blog Styles
*/
.blog-layout-grid .site-main .kmt-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.blog-layout-thumbnail .post-content{
    display: flex;    
}
.blog-layout-thumbnail .post-content.kmt-has-feature-image 
{
    .thumbnail-image-right .kmt-blog-featured-image
    {
        float: right;
    }
}
.blog-layout-thumbnail .post-content.kmt-has-feature-image
{
    .thumbnail-image-left .kmt-blog-featured-image
    {
        float: left;
    }
}
.blog-layout-thumbnail .post-content.kmt-has-feature-image
{
    .kmt-blog-featured-image
    {
        width:45%;
    }
    .blog-entry-content
    {
        width:100%;
    }
}
.grid-item {
    float: left;
}
