button,
.kmt-button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
a.wp-block-button__link,
.wp-block-search button.wp-block-search__button {
  border-width: var(--borderWidth, 1px);
  border-style: var(--borderStyle, solid);
  border-color: var(--borderColor);
  border-radius: var(--borderRadius, 0);
  padding: var(--padding, 0.6em 1em);
  box-shadow: none;
  text-shadow: none;
  display: inline-block;
  &:hover {
    box-shadow: none;
  }
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.wp-block-search .wp-block-search__input {
  flex-grow: 1;
  min-width: 3em;
  border: 1px solid var(--borderColor) !important;
}
.kmt-widget-area {
  .wp-block-buttons {
    > .wp-block-button {
      margin: 0;
    }
  }
  .wp-block-button__link {
    margin-bottom: 0;
  }
}
.wp-block-button__link {
  margin-bottom: 10px;
}
.wp-block-button {
  &.aligncenter {
    text-align: center;
  }
  &.is-style-outline {
    > a.wp-block-button__link {
      --borderWidth: 2px;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
