input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
  height: auto;
  border-style: var(--borderStyle, solid);
  box-shadow: none;
  box-sizing: border-box;
  &::placeholder {
    color: var(--inputColor);
    opacity: 0.5;
  }
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:focus {
    &::placeholder {
      color: var(--inputFocusColor);
      opacity: 0.5;
    }
  }
}

textarea {
  padding-left: 3px;
  width: 100%;
}
