#customize-theme-controls
  ul.customize-pane-child.accordion-section-content.accordion-section.control-section.control-section-kmt_section.open {
  height: 100%;
  padding: 12px 20px 12px 20px !important;
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  border: 1px solid #dcdddf !important;
  border-radius: 0 !important;
}

.customize-section-title {
  margin: -12px -20px 0 -20px !important;
}
#customize-theme-controls .customize-pane-child.accordion-section-content {
  padding: 12px 20px 25px 20px;
}
.customize-control-kmt-focus-button {
  margin-top: 0px !important;
}
