.kmt-post-options .kmt-options > div:first-child {
  margin-top: 25px;
}
.kmt-post-options .kmt-options {
  padding-bottom: 25px;
}
.kmt-post-options .kmt-options > div {
  padding-left: 16px;
  padding-right: 10px;
}
.kmt-post-options .customize-control-title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 600;
  margin-bottom: 4px;
}
.kmt-post-options .customize-control-kmt-text input {
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
  width: 100%;
}
.kmt-post-options .kmt-options .customize-control-kmt-title {
  padding: 0;
}
.kmt-post-options .customize-control-kmt-title .customize-control-title {
  width: 100%;
  margin: 0;
  background-color: #eaeaea;
}
.kmt-post-options
  .customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link
  span {
  height: 32px;
}
.theme-kemet .interface-complementary-area-header .components-button.has-icon {
  display: none !important;
}
