.kmt-number-container header {
  position: relative;
}
.kmt-number-control__Wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
}
.kmt-number-control__Wrapper .kmt-btn-reset-wrap .kmt-reset-btn {
  color: #006ba1;
  font-size: 12px;
  padding: 0px 6px;
  background: transparent;
  box-shadow: none;
  outline: 0;
  border: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: dashicons;
  padding: 0;
  opacity: 1;
  border: none;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
.kmt-number-control__Wrapper .kmt-btn-reset-wrap .kmt-reset-btn:disabled {
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.kmt-number-control__Wrapper .kmt-btn-reset-wrap .kmt-reset-btn::before {
  content: "\f531";
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.kmt-number-control__Wrapper
  .kmt-btn-reset-wrap
  .kmt-reset-btn:hover:not(:disabled)::before {
  transform: rotate(-45deg);
}

.kmt-number-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  margin-right: 8px;
}
.kmt-option-number {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: var(--width, 100px);
}
.kmt-option-number[data-width="full"] {
  width: 100%;
}
.kmt-option-number[data-position="right"] {
  margin-left: auto;
}
.kmt-option-number input {
  --padding: 3px 30px;
  text-align: center;
  width: 100%;
  margin: 0;
}
.kmt-option-number > a {
  position: absolute;
  top: 1px;
  width: 30px;
  height: calc(100% - 2px);
  color: #2d3748;
  opacity: 0.7;
}
.kmt-option-number > a:before,
.kmt-option-number > a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 1px;
  opacity: 0.8;
  background: currentColor;
  transition: background 0.1s linear, opacity 0.1s linear;
}
.kmt-option-number > a.kmt-minus {
  left: 1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.kmt-option-number > a.kmt-minus:after {
  display: none;
}
.kmt-option-number > a.kmt-plus {
  right: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.kmt-option-number > a.kmt-plus:after {
  transform: rotate(90deg);
}
.kmt-option-number > a:not(.kmt-disabled) {
  cursor: pointer;
}
.kmt-option-number > a:not(.kmt-disabled):hover {
  color: black;
  opacity: 1;
}
.kmt-option-number > a.kmt-disabled {
  opacity: 0.4;
}
