.customize-control-kmt-spacing .kmt-spacing-responsive-outer-wrapper {
  display: flex;
  position: relative;
}

.customize-control-kmt-spacing .kmt-spacing-responsive-units {
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  right: 0px;
  text-align: right;
}

.customize-control-kmt-spacing .kmt-spacing-responsive-units li.single-unit {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  text-align: center;
  user-select: none;
  opacity: 0.7;
}

.customize-control-kmt-spacing
  .kmt-spacing-responsive-units
  li.single-unit.active {
  font-weight: bold;
  text-decoration: underline;
  opacity: 1;
}

.customize-control-kmt-spacing .input-wrapper .kmt-spacing-wrapper {
  display: none;
}

.customize-control-kmt-spacing .input-wrapper .kmt-spacing-wrapper li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0 2px;
  height: 30px;
}
.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  li
  input.kmt-spacing-input {
  text-align: center;
  padding: 0 3px;
  width: 100% !important;
  height: 32px;
}

.customize-control-kmt-spacing .input-wrapper .kmt-spacing-wrapper.active {
  display: flex;
  align-items: initial;
  justify-content: center;
}

.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  span.kmt-spacing-title {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.75;
  font-weight: bold;
}

.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link
  .kmt-spacing-connected {
  display: none;
  color: #444;
}

.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link.disconnected
  .kmt-spacing-disconnected {
  display: none;
}

.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link.disconnected
  .kmt-spacing-connected {
  display: inline-block;
  color: var(--primaryColor);
}

.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link
  span {
  width: 35px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #dcdddf;
  background-color: #fff;
  font-size: 12px;
}
.customize-control-kmt-spacing
  .input-wrapper
  .kmt-spacing-wrapper
  .kmt-spacing-input-item-link
  .kmt-spacing-disconnected {
  color: #2d3748;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.kmt-spacing-responsive header {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 5px;
}
.kmt-spacing-btn-reset-wrap {
  position: absolute;
  left: 0;
}
.kmt-spacing-responsive:hover
  .kmt-spacing-btn-reset-wrap
  .kmt-reset-btn:not(:disabled) {
  opacity: 1;
}
.kmt-spacing-btn-reset-wrap .kmt-reset-btn {
  color: #006ba1;
  font-size: 10px;
  padding: 0px 6px;
  background: transparent;
  box-shadow: none;
  transform: translate3d(-17px, 0, 0);
  outline: 0;
  border: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: dashicons;
  padding: 0;
  opacity: 0;
  border: none;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.kmt-spacing-btn-reset-wrap .kmt-reset-btn::before {
  content: "\f531";
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.kmt-spacing-btn-reset-wrap .kmt-reset-btn:hover::before {
  transform: rotate(-45deg);
}
/*   */

.kmt-spacing-btn-reset-wrap .kmt-reset-btn:hover,
.kmt-spacing-btn-reset-wrap .kmt-reset-btn:focus,
.kmt-resp-slider-reset-wrap .kmt-reset-btn:hover,
.kmt-resp-slider-reset-wrap .kmt-reset-btn:focus {
  box-shadow: none;
  border: none;
  background: transparent;
}
