.components-toggle-control .components-base-control__field {
  display: flex;
  margin-bottom: 12px;
  line-height: normal;
  align-items: center;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.toggle-control-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.75;
}
.components-base-control__field .components-form-toggle {
  margin-right: 0px !important;
}
input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.components-form-toggle
  .components-form-toggle__input:focus
  + .components-form-toggle__track {
  outline: none !important;
  box-shadow: none !important;
}
.components-form-toggle .components-form-toggle__track {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
  border-radius: 11px;
  background-color: #fff;
  vertical-align: top;
  content: “”;
  transition: background 0.2s ease;
}
.components-form-toggle .components-form-toggle__thumb {
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 0 !important;
  border-radius: 50%;
  background-color: #838383;
  transition: transform 0.1s ease;
}

.components-form-toggle.is-checked .components-form-toggle__track {
  border: 0;
  border-color: var(--wp-admin-theme-color);
}
