h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1,
.entry-content h1 {
  --lineHeight: #{$line-height-h1};
}

h2,
.entry-content h2 {
  --lineHeight: #{$line-height-h2};
}

h3,
.entry-content h3 {
  --lineHeight: #{$line-height-h3};
}

h4,
.entry-content h4 {
  --lineHeight: #{$line-height-h4};
}

h5,
.entry-content h5 {
  --lineHeight: #{$line-height-h5};
}

h6,
.entry-content h6 {
  --lineHeight: #{$line-height-h6};
}

.entry-content .elementor-heading-title {
  line-height: var(--lineHeight);
}
