/**
 * Kemet Theme compatibility with Beaver Builder
 */

.fl-builder-content {
	clear: both;	
}

.fl-theme-builder-archive {
	.fl-post-gallery-post.hentry,
	.fl-post-column > .hentry {
		margin: 0;
	}

	h2.fl-post-feed-title {
		clear: initial;
	}
}