/**
 *  Blog Common
 */
.entry-meta,
.entry-meta * {
  line-height: 1.7;
}
.page .entry-header {
  margin-bottom: 1.5em;
}
.entry-meta {
  > span {
    margin-right: 10px;
  }
}
.entry-meta span:before:first {
  margin-left: 0px;
}

// .entry-meta .comments-link:before {
//   content: "\e906";
//   font-family: Kemet-font;
//   margin-right: 5px;
// }

// .entry-meta .cat-links:before {
//   content: "\e904";
//   font-family: Kemet-font;
//   margin-right: 5px;
// }

// .entry-meta .posted-by:before {
//   content: "\e901";
//   font-family: Kemet-font;
//   margin-right: 5px;
// }

// .entry-meta .posted-on:before {
//   content: "\e902";
//   font-family: Kemet-font;
//   margin-right: 5px;
// }

// .entry-meta .tags-links:before {
//   content: "\e910";
//   font-family: Kemet-font;
//   margin-right: 5px;
// }

.search .entry-header {
  margin-bottom: 1em;
}

.entry-header {
  margin-bottom: 1em;
  word-wrap: break-word;
  + .kmt-blog-featured-section {
    margin-top: 0.5em;
  }
}

.entry-content {
  color: var(--textColor);
  word-wrap: break-word;
  p {
    --marginBottom: 1.6em;
  }
}

.read-more {
  margin-bottom: 0;
  a {
    display: inline-block;
  }
}

.kmt-no-thumb {
  .kmt-blog-featured-section {
    margin-bottom: 0;
  }
  .entry-header {
    + .kmt-blog-featured-section {
      margin-top: 0;
    }
  }
}

.kmt-blog-featured-section {
  margin-bottom: 1.5em;

  .gallery {
    margin-bottom: 0;
  }
}

.error404 .page-header {
  margin-bottom: 1.5em;
  .page-title {
    margin-bottom: 0;
  }
}

.blog,
.archive,
.search {
  .entry-title {
    --lineHeight: 1.3;
  }
}

.page-title {
  margin-bottom: 1em;
  --fontWeight: normal;
}

.entry-title {
  margin-bottom: 0.2em;
}

.kmt-article-post {
  margin-bottom: 2.5em;
}
.kmt-article-post:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.search .site-content .search-form {
  margin-bottom: 3em;
}

.blog-layout-1 {
  /* 2 - Blog Thumbnail Styles */
  .post-thumb {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}

.blog-layout-grid .site-main .kmt-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
