.customize-control-kmt-color {
  position: relative;
}
.kemet-control-field.kemet-color-control {
  display: flex;
}

.kemet-control-field {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.kmt-control-wrap.kmt-color-control-wrap {
  display: flex;
}
.kemet-control-field.kemet-color-control .customize-control-title {
  flex-grow: 2;
}
.kemet-control-field .customize-control-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  line-height: 18px;
}
.customize-control-title {
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 4px;
}
.kmt-color-container {
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: space-between;
}
.kmt-color-picker-container {
  display: flex;
  justify-content: flex-end;
  transition: transform 0.1s ease;
}
.components-button.kemet-color-icon-indicate
  .component-color-indicator.kemet-advanced-color-indicate {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0;
}
.component-color-indicator {
  width: 25px;
  height: 16px;
  margin-left: 0.8rem;
  display: inline-block;
  border: none;
  margin-left: 10px;
}
.kmt-color-picker-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
  border-bottom: 1px solid #eee;
}
.kemet-color-icon-indicate.components-button {
  height: auto;
  position: relative;
  transform: scale(1);
  transition: none;
  border-radius: 50%;
  padding: 0;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
    linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0),
    linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
}

/** Color */
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker-wrapper {
  box-sizing: border-box;
}
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker_position-display-container
  input[type="number"].components-text-control__input {
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  width: 50px;
  font-weight: normal;
}
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker_position-display-container
  .components-base-control {
  flex: 1;
  margin-bottom: 0;
}
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker_position-display-container
  .components-base-control
  .components-base-control__label {
  margin-bottom: 0;
  margin-right: 0.2em;
}
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker_position-display-container
  .components-base-control__field {
  display: flex;
  align-items: center;
  font-size: 8px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.kemet-popover-color
  .components-popover__content
  .components-focal-point-picker_position-display-container
  .components-base-control:lkmt-child
  .components-base-control__field {
  justify-content: flex-end;
}
.kemet-popover-color .components-popover__content .actions {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.kemet-popover-color .components-popover__content .actions .button {
  flex: 1;
  margin-top: 10px;
}

.color-button-wrap {
  display: inline-block;
  margin-left: 10px;
  height: 28px;
  width: 28px;
}
.components-button.kemet-color-icon-indicate
  .kemet-advanced-color-indicate:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
}
.components-button.kemet-background-icon-indicate {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  transform: scale(1);
  transition: transform 0.1s ease;
  border-radius: 50%;
  padding: 0;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
    linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0),
    linear-gradient(-45deg, transparent 75%, #ddd 0);
  border: 1px solid #dadada;
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
}
.components-button.kemet-background-icon-indicate
  .component-color-indicator.kemet-advanced-color-indicate {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin: 0;
  display: block;
  position: absolute;
  border: 0;
  top: 0;
}
.components-button.kemet-background-icon-indicate > svg.dashicon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.components-button.kemet-background-icon-indicate > svg.dashicon path {
  transform: translate(1px, 1px);
}
.components-button.kemet-background-icon-indicate
  img.kemet-background-image-preview {
  display: flex;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}
.components-button.kemet-background-icon-indicate:hover {
  box-shadow: none !important;
}
.kemet-control-field.kemet-color-control {
  display: flex;
}
.kemet-control-field.kemet-color-control .customize-control-title {
  flex-grow: 2;
}
.kemet-popover-color .components-popover__content {
  padding: 15px 15px 0px;
  box-sizing: initial;
  background: #fff;
  border: unset;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  min-height: 340px;
  max-height: 60vh;
  margin-left: -25px;
  transform: scale3d(1, 1, 1);
  opacity: 1;
  --modal-y-offset: 0px;
  --modal-x-offset: 1638px;
  --option-modal-arrow-position: 247px;
  bottom: 13px;
  transform-origin: center bottom;
  position: fixed;
  z-index: 100000;
  width: var(--option-modal-width, 295px);
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: var(--option-modal-shadown, 0 15px 15px rgba(0, 0, 0, 0.08));
  right: var(--modal-x-offset);
  overflow: hidden;
}

.components-popover.kemet-popover-color
  .components-popover__content
  .sketch-picker {
  padding: 0 0 5px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.components-popover.kemet-popover-color
  .components-popover__content
  .attachment-media-view {
  margin-top: 10px;
  margin-bottom: 10px;
}
.kemet-swatches-wrap .kemet-swatche-item-wrap:hover {
  transform: scale(1.2) !important;
}
.kemet-swatches-wrap .kemet-swatche-item-wrap .kemet-swatch-item {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
    linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0),
    linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.kemet-swatches-wrap .kemet-swatche-item-wrap .kemet-swatch-item .dashicon {
  display: none;
}
.kemet-swatches-wrap .kemet-swatche-item-wrap .kemet-swatch-item.swatch-active {
  box-shadow: 0 0 0 8px inset !important;
}
.kemet-swatches-wrap
  .kemet-swatche-item-wrap
  .kemet-swatch-item.swatch-active
  .dashicon {
  display: block;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
.kemet-swatches-wrap
  .kemet-swatche-item-wrap
  .kemet-swatch-item.swatch-active
  .dashicon
  path {
  transform: translate(1px, 1px);
}
.components-button.kemet-color-icon-indicate > .dashicon {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  background: rgb(85 93 101);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.kemet-popover-color {
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 4px;
}

.kmt-field-settings-modal .kemet-popover-color {
  margin-left: 0px;
  border: 1px solid #dedede;
}
.kmt-field-settings-modal .kemet-popover-color .components-tab-panel__tabs {
  padding: 8px;
}
.components-color-picker__saturation-black {
  border-radius: 4px 4px 0 0;
}
.components-color-picker__saturation-color {
  border-radius: 3px;
}
.components-color-picker__saturation-white {
  border-radius: 3px;
}
.kemet-color-picker-wrap {
  position: absolute;
  z-index: 99;
  top: 23px;
  left: 2px;
  right: 0;
  bottom: 0;
}
.color-button-wrap:nth-child(2)
  .kemet-color-picker-wrap
  .kemet-popover-color::before {
  position: absolute;
  content: "";
  left: calc(100% - 22px);
  border-style: solid;
  top: 3px;
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent #ffffff transparent;
}
.color-button-wrap:nth-child(1)
  .kemet-color-picker-wrap
  .kemet-popover-color::before {
  position: absolute;
  content: "";
  left: calc(100% - 55px);
  border-style: solid;
  top: 3px;
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent #ffffff transparent;
}
.kmt-color-palette {
  margin: 0 10px !important;
}
.kmt-field-settings-modal .kemet-color-picker-wrap {
  position: relative;
  top: 10px;
}
.components-circular-option-picker__option-wrapper
  .components-circular-option-picker__option:focus::after {
  width: 27px;
  height: 27px;
}
.kmt-color-palette .components-circular-option-picker__option-wrapper {
  margin-right: 6px;
}
/* Clear Button CSS */
.kmt-color-btn-clear-wrap {
  position: absolute;
  top: 1.5px;
  right: 65px;
}
.kmt-color-btn-clear-wrap .kemet-color-clear-button.components-button {
  padding: 10px 3px;
  width: 20px;
  height: 20px;
}
.kmt-clear-btn-inside-picker.components-button,
.kemet-popover-tabs .kmt-clear-btn-inside-picker.components-button {
  margin: 5px 20px 20px 15px;
  padding: 0 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}
.kmt-clear-btn-inside-picker.components-button:hover,
.kemet-popover-tabs .kmt-clear-btn-inside-picker.components-button:hover,
.kmt-clear-btn-inside-picker.components-button:focus,
.kemet-popover-tabs .kmt-clear-btn-inside-picker.components-button:focus,
.kmt-clear-btn-inside-picker.components-button:active,
.kemet-popover-tabs .kmt-clear-btn-inside-picker.components-button:active,
.kemet-popover-tabs
  [ID*="-gradient-view"]
  .components-circular-option-picker__clear:active {
  box-shadow: none !important;
  background: transparent !important;
}
.kmt-clear-btn-inside-picker {
  padding: 0 8px;
}
/* Reset Button CSS */

.kmt-color-btn-reset-wrap .kmt-reset-btn.components-button,
.kmt-resp-slider-reset-wrap .kmt-reset-btn.components-button {
  color: #006ba1;
  font-size: 10px;
  padding: 4px;
  background: transparent;
  box-shadow: none;
}
.kmt-color-btn-reset-wrap .kmt-reset-btn.components-button span,
.kmt-resp-slider-reset-wrap .kmt-reset-btn.components-button span {
  font-size: 10px !important;
  line-height: 18px !important;
}
.kemet-color-clear-button.components-button:focus:not(:disabled) {
  outline: unset;
  border: none;
}
.kmt-color-btn-reset-wrap .kmt-reset-btn.components-button:hover,
.kmt-color-btn-reset-wrap .kmt-reset-btn.components-button:focus,
.kmt-resp-slider-reset-wrap .kmt-reset-btn.components-button:hover,
.kmt-resp-slider-reset-wrap .kmt-reset-btn.components-button:focus {
  box-shadow: none;
  border: none;
  background: transparent;
}
.kemet-color-clear-button.components-button.is-secondary:hover:not(:disabled),
.kemet-color-clear-button.components-button:focus:not(:disabled) {
  box-shadow: 0 0 black;
  padding: 1.5px;
  border: none;
}
.kemet-color-clear-button.components-button.is-secondary:disabled,
.kmt-reset-btn.components-button.is-secondary:disabled span {
  color: #c5c5c5;
  font-size: 16px;
}
/** Inside Setting group popup - Colors */
.kmt-field-settings-modal .color-button-wrap {
  right: 16px;
}
.kmt-field-settings-modal .kmt-color-btn-reset-wrap {
  right: 59px;
  top: 0;
}
.kmt-field-settings-modal .kmt-color-btn-clear-wrap {
  right: 78px;
}
.kmt-field-settings-modal .customize-control-kmt-color.customize-control,
.kmt-field-settings-modal
  .customize-control-kmt-color.customize-control:first-child {
  margin-top: 25px;
}
.components-color-picker {
  padding: 15px 12px;
  box-sizing: border-box;
  width: 100%;
}
.kemet-color-picker-wrap .components-color-picker__inputs-wrapper {
  min-width: unset;
}

@media (max-width: 1845px) {
  /** Responsive Devices - Compatibility CSS */
  .kmt-color-palette .components-circular-option-picker__option-wrapper {
    height: 23px;
    width: 23px;
  }
  .kmt-color-palette
    .components-circular-option-picker__option-wrapper
    .components-circular-option-picker__option {
    padding: 6px 10px;
  }
  .kmt-color-palette
    .components-circular-option-picker__option.is-pressed
    + svg {
    width: 18px;
    left: 4px;
    top: 1px;
  }
  .kmt-color-palette
    .components-circular-option-picker__option-wrapper
    .components-circular-option-picker__option:focus::after {
    width: 24px;
    height: 24px;
  }
  .kemet-popover-color .kmt-color-palette.components-circular-option-picker {
    width: auto;
    padding: 16px 0px 0px 8px;
  }
  .kemet-typography-control
    .typography-button-wrap
    > button.components-button.kemet-typography-preview-indicate {
    padding: 0 2px;
  }
  .kemet-typography-control .typography-button-wrap > button.components-button {
    padding: 0 4px;
  }
  /** Modal Popup */
  .kmt-field-settings-modal
    .components-circular-option-picker__option-wrapper
    .components-circular-option-picker__option:focus::after {
    width: 21px;
    height: 21px;
  }
  .kmt-field-settings-modal
    .kmt-color-palette
    .components-circular-option-picker__option-wrapper {
    height: 22px;
    width: 22px;
  }
  .kmt-field-settings-modal
    .kmt-color-palette
    .components-circular-option-picker__option.is-pressed
    + svg {
    left: 2.5px;
    top: -1px;
    width: 18px;
  }
}
@supports (-moz-appearance: none) {
  @media (max-width: 1845px) {
    .kmt-color-palette .components-circular-option-picker__option-wrapper {
      margin-right: 5px;
    }
    .kmt-field-settings-modal
      .components-circular-option-picker__option-wrapper
      .components-circular-option-picker__option:focus::after {
      width: 21px;
      height: 21px;
    }
    .kmt-field-settings-modal
      .kmt-color-palette
      .components-circular-option-picker__option-wrapper {
      height: 20px;
      width: 20px;
    }
    .kmt-field-settings-modal
      .kmt-color-palette
      .components-circular-option-picker__option.is-pressed
      + svg {
      left: 3px;
      top: -2px;
      width: 15px;
    }
  }
}

.kemet-color-icon-indicate.components-button:focus:not(:disabled) {
  box-shadow: unset;
  outline: unset;
}
.kemet-color-icon-indicate.components-button:hover {
  transform: scale(1.05);
}

.kmt-top-divider.customize-control-kmt-color
  .kmt-divider-title
  + .kmt-control-wrap,
.kmt-top-divider.customize-control-kmt-color-group
  .kmt-divider-title
  + .kmt-control-wrap {
  margin-top: 25px;
  display: inline-flex;
  width: 100%;
}

.kmt-top-divider.customize-control-kmt-toggle-control
  .kmt-divider-title
  + .kmt-togglecontrol-wrapper,
.kmt-bottom-divider.customize-control-kmt-toggle-control
  .kmt-divider-title
  + .kmt-togglecontrol-wrapper,
.kmt-top-divider.customize-control-kmt-responsive-toggle-control
  .kmt-divider-title
  + .kmt-responsive-toggle-control-wrapper,
.kmt-top-divider.customize-control-kmt-responsive-color
  .kmt-divider-title
  + .kmt-control-wrap,
.kmt-top-divider.customize-control-kmt-slider
  .kmt-divider-title
  + .kmt-slider-wrap,
.customize-control-kmt-color-group .kmt-divider-title + .kmt-control-wrap {
  margin-top: 25px;
}

.kmt-top-divider.customize-control-kmt-color-group .kmt-control-wrap {
  display: inline-flex;
  width: 100%;
}

.kmt-top-divider
  .kmt-divider-title
  + .kmt-control-wrap
  .kmt-color-btn-reset-wrap {
  top: 67px;
}

.kmt-top-divider .kmt-divider-title + .kmt-control-wrap .color-button-wrap {
  top: 61px;
}

.kmt-top-divider.customize-control-kmt-responsive-color
  .kmt-divider-title
  + .kmt-control-wrap
  .kmt-responsive-btns {
  top: 70px;
}
/* .customize-control-kmt-color .kmt-color-control-wrap {
  display: flex;
}
.customize-control-kmt-color .kmt-color-container {
  flex: 1;
  position: relative;
}
.customize-control-kmt-color .kmt-color-pickers-container {
  display: flex;
  position: absolute;
  top: -4.5px;
  right: 0;
}

.customize-control-kmt-color .kmt-color-picker:not(:last-child) {
  margin-left: 5px;
} */
