/**
 * 	Small Footer Layouts
 *
 */
/* Hide edit shortcut button */
.kmt-footer-site-title .customize-partial-edit-shortcut-button {
  display: none;
}
.kmt-footer-copyright {
  display: flex;
  justify-content: var(--justifyContnet, center);
  align-items: var(--alignItems, center);
  a {
    margin: 0 5px;
  }
}
