/* 2 - Small Footer */
@import "footer-copyright-layouts";

.site-footer {
  ul {
    margin: 0;
    list-style-type: none;
  }

  .nav-menu li {
    display: inline-block;
  }
}

@import "kemet-footer";
@import "kemet-footer-4col";
