/**
 * Footer Widget Layouts
 */

/**
 * Sticky footer
 */
.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.kmt-sticky-footer {
  #content {
    position: relative;
    z-index: 1;
  }
}
@media all and (max-width: $mx-col-md) {
  .kemet-footer-widget-1 {
    .widget:last-child {
      margin: 0 0 2.8em;
    }
  }
}
// Footer Builder
[class*="-footer-wrap"] {
  padding-top: var(--padding-top, 25px);
  padding-bottom: var(--padding-bottom, 25px);
  background-color: var(--footerBackgroundColor);
  border-top: var(--borderTopWidth) var(--borderTopStyle, solid)
    var(--borderTopColor);
  border-bottom: var(--borderBottomWidth) var(--borderBottomStyle, solid)
    var(--borderBottomColor);
  .site-footer-section {
    display: flex;
    position: relative;
    padding: var(--padding);
    flex-direction: var(--flexDirection);
    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      height: auto;
      width: 0;
      right: -10px;
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      border-left: var(--borderLeftWidth) var(--borderLeftStyle, solid)
        var(--borderLeftColor);
    }
    &.direction-row {
      .kmt-footer-item {
        &:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
    .kmt-footer-item {
      flex: 1;
    }
  }
  .kmt-grid-row {
    grid-row-gap: 20px;
    grid-template-columns: var(--gridTemplateColummns);
  }
}

.site-footer .customize-partial-edit-shortcut {
  button {
    left: 0;
  }
}

.site-footer {
  position: relative;
  overflow: hidden;
  .main-navigation {
    ul {
      background-color: var(--backgroundColor);
    }
  }
}
