/**
 * Footer Widget Layouts
 */

.wiz-footer-overlay {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wiz-footer {
	p:last-child {
	  	margin-bottom: 0;
	}
	.widget_calendar{
		table{
			margin-bottom: 0;
		}
	}
	&.wiz-footer-align-center {
		text-align: center;
	}
    &.wiz-footer-layout-5 {
        .wiz-col-lg-2 {
            width: 20%;
        }
    }
    
}
/**
 * Sticky footer
 */
.sticky-footer {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.wiz-sticky-footer #content {
	z-index: 1;
}
@media all and (max-width : $mx-col-md) {
	.wiz-footer-widget-1 {
		.widget:last-child {
		  	margin: 0 0 2.8em;
		}
	}
}
