.customize-control-kmt-spacing ul.kmt-spacing-wrapper {
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.customize-control-kmt-spacing li.kmt-spacing-input-item {
  display: inline-block;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.customize-control-kmt-spacing span.kmt-spacing-unit {
  position: absolute;
  top: -26px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
}

.customize-control-kmt-spacing span.kmt-spacing-title {
  display: block;
}

.customize-control-kmt-spacing input.kmt-spacing-input {
  text-align: center;
}
