.kemet-control-field.kemet-color-control {
  display: flex;
}
.kemet-control-field.kemet-color-control .customize-control-title {
  flex-grow: 2;
}
.kemet-control-field button.components-button.kemet-reset {
  height: 18px;
  padding: 0 5px;
  margin-right: 0;
  margin-left: -20px;
  opacity: 0.5;
}
.kemet-color-picker-wrap {
  margin-left: 5px;
}
.components-button.kemet-color-icon-indicate {
  height: auto;
  position: relative;
  transform: scale(1);
  transition: transform 0.1s ease;
  border-radius: 50%;
  padding: 0;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
    linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0),
    linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
}
.components-button.kemet-color-icon-indicate
  .component-color-indicator.kemet-advanced-color-indicate {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0;
}
.kemet-color-picker-wrap {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #a29090;
  border-radius: 4px;
  padding: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px;
}
