/**
 *  Header Sections
 *
 *  All sections within the header.
 *
 * Contents
 * 1 - Common
 * 2 - Social Follow
 * 3 - Site Logo
 * 4 - Search Form
 *
 * # Responsive
*/

/**
 * 1 - Common
 */
/* Default Padding For Nav */
.nav-style {
  display: block;
  padding: 0 15px;
}

.site-branding {
  line-height: 1;
}

.kmt-site-identity {
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-bottom: var(--padding-bottom, 24px);
  padding-right: var(--padding-right);
  margin-top: var(--margin-top, 0px);
  margin-left: var(--margin-left);
  margin-bottom: var(--margin-bottom, 0px);
  margin-right: var(--margin-right);
}

.kmt-menu-toggle {
  display: none;
  background: transparent;
  color: inherit;
  border-style: dotted;
  border-color: transparent;
  --buttonShadow: none !important;
  grunt &:focus,
  &:hover {
    background: transparent;
    border-color: inherit;
    color: inherit;
  }
}

.socil-font {
  float: left;
  margin-right: 10px;
}
.main-header-content {
  padding: 0 15px;
}
/**
 * 4 - Search Form & Main Header
 */
.main-header-bar {
  z-index: 4;
  position: relative;
  line-height: 4;
  .main-header-bar-navigation {
    &:empty {
      padding: 0;
    }

    .kmt-search-icon {
      display: block;
      z-index: 4;
      position: relative;
    }

    .slide-search .search-field {
      &:focus {
        outline: none;
      }
    }
  }
}
.kmt-search-box-form {
  position: relative;
  border-radius: var(--border-radius-top, 0) var(--border-radius-right, 0)
    var(--border-radius-bottom, 0) var(--border-radius-left, 0);
  .search-field {
    &:focus {
      outline: none;
    }
  }
  .kmt-svg-icon {
    display: inline-flex;
  }
  &:hover,
  &:focus,
  &.kmt-search-box-form {
    .search-submit {
      box-shadow: none;
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      max-width: 45px;
      padding: 10px 20px;
      border: none;
      border-radius: 2px;
      color: transparent;
      background: 0 0;
    }
  }
}
.kmt-search-menu-icon {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 99;
  top: auto;
  form {
    padding: 15px;
    line-height: 1;
    @include kmt-border-radius();
    display: inline-block;
    backface-visibility: hidden;
    position: relative;
    color: inherit;
    margin: auto;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
  }
  .kmt-svg-icon.icon-search {
    display: none;
  }
  .search-field {
    border: none;
    transition: width 0.2s;
    --inputBorderRadius: inherit;
    width: 240px;
    --inputBorderWidth: 1px;
    &:focus {
      outline: none;
    }
  }

  .search-submit {
    display: none;
  }

  &.kmt-search-left {
    left: 30px;
    &.kmt-dropdown-active {
      left: 0;
    }
  }
  &.kmt-search-right {
    right: 30px;
    &.kmt-dropdown-active {
      right: 0;
    }
  }
  &.kmt-dropdown-active {
    visibility: visible;
    opacity: 1;
  }
}
.main-header-menu {
  > .menu-item,
  > .page_item {
    > a {
      padding-top: var(--padding-top);
      padding-left: var(--padding-left);
      padding-bottom: var(--padding-bottom);
      padding-right: var(--padding-right);
    }
  }
  &[data-effect="underline-stroke"] {
    > .menu-item,
    > .page-item {
      > a {
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: "";
          background: currentColor;
          height: 1px;
          transition: all 0.5s;
        }
      }
    }
    > .menu-item:hover {
      > a {
        &::after {
          width: 100%;
        }
      }
    }
  }
  &[data-effect="underline-fill"] {
    > .menu-item,
    > .page-item {
      > a {
        display: block;
        position: relative;
        transition: all 1.5s;
        display: block;
        &::after {
          text-align: left;
          content: ".";
          margin: 0;
          opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0%;
          color: transparent;
          background: var(--linksHoverColor);
          height: 1px;
        }
      }
    }
    > .menu-item:hover {
      > a {
        z-index: 1;
        color: #fff;
        &::after {
          z-index: -10;
          animation: fill 1s forwards;
          -webkit-animation: fill 1s forwards;
          -moz-animation: fill 1s forwards;
          opacity: 1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &[data-effect="underline-dots"] {
    > .menu-item,
    > .page-item {
      > a {
        position: relative;
        &::before {
          position: absolute;
          top: 35%;
          left: 50%;
          color: transparent;
          content: "•";
          text-shadow: transparent 0px 0px;
          font-size: 1em;
          transform: translateX(-50%);
          pointer-events: none;
          transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
        }
      }
    }
    > .menu-item:hover {
      > a {
        &::before {
          color: currentColor;
          text-shadow: 10px 0 currentColor, -10px 0 currentColor;
        }
      }
    }
  }
  &[data-effect="textcolor-fill"] {
    > .menu-item,
    > .page-item {
      > a {
        background: linear-gradient(
              var(--linksHoverColor),
              var(--linksHoverColor)
            )
            left no-repeat,
          var(--linksColor);
        background-size: 0% 100%;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 1.3s;
      }
    }
    .kmt-svg-icon {
      svg {
        fill: var(--linksColor);
      }
    }
    > .current-menu-item,
    > .current-menu-ancestor,
    > .current_page_item {
      > a {
        background-color: var(--linksColor) !important;
      }
    }
    > .menu-item:hover {
      > a {
        background-size: 100% 100%;
      }
    }
  }
  &[data-effect="topbottom-lines"] {
    > .menu-item,
    > .page-item {
      > a {
        &::after,
        &::before {
          position: absolute;
          width: 45px;
          height: 2px;
          background: var(--linksHoverColor);
          content: "";
          opacity: 0.2;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          pointer-events: none;
        }
        &::before {
          top: 15%;
          left: 0;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          transform-origin: 0 0;
          opacity: 0;
        }
        &::after {
          right: 0;
          bottom: 15%;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transform-origin: 100% 0;
          -moz-transform-origin: 100% 0;
          transform-origin: 100% 0;
          opacity: 0;
        }
      }
    }
    > .menu-item:hover {
      > a {
        &::before {
          left: 50%;
          -webkit-transform: rotate(0deg) translateX(-50%);
          -moz-transform: rotate(0deg) translateX(-50%);
          transform: rotate(0deg) translateX(-50%);
          opacity: 1;
        }
        &::after {
          right: 50%;
          -webkit-transform: rotate(0deg) translateX(50%);
          -moz-transform: rotate(0deg) translateX(50%);
          transform: rotate(0deg) translateX(50%);
          opacity: 1;
        }
      }
    }
  }
  ul.sub-menu,
  ul.children {
    > .menu-item,
    > .page_item {
      > a {
        border-bottom: var(--borderBottom);
      }
    }
  }
}
.kmt-header-break-point {
  .site-branding {
    display: flex;
  }
  ul li.kmt-sitehead-custom-menu-items a {
    padding: 0;
    width: auto;
    display: initial;
  }

  .kmt-outside-menu {
    li.kmt-sitehead-custom-menu-items {
      justify-content: flex-end;
    }
  }

  .main-header-bar {
    display: block;
    padding: 0;
    line-height: 3;
  }

  /* Main Header */
  .main-header-menu {
    ul.sub-menu ul.sub-menu,
    ul.children ul.children {
      top: 0;
    }
  }
}
.kmt-popup-main {
  .main-header-bar-navigation {
    line-height: 3;
    display: none;

    .children,
    .sub-menu {
      line-height: 3;
    }
    .page_item_has_children > a:after,
    .menu-item-has-children > a:after {
      display: none;
    }
    .page_item_has_children,
    .menu-item-has-children {
      .sub-menu,
      ul.children {
        display: none;
      }
      > .kmt-menu-item-wrap > a {
        border: none;
      }
      > .kmt-menu-item-wrap > .kmt-menu-toggle {
        display: inline-block;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0 0.907em;
        font-weight: normal;
        line-height: inherit;
        transition: all 0.2s;
        border-width: 0px;
        &:hover {
          border-width: 0px;
        }
        &:focus {
          border-width: 0px;
        }
      }
    }
    .kmt-submenu-expanded {
      > .kmt-menu-item-wrap > .kmt-menu-toggle::before {
        transform: rotateX(180deg);
      }
    }
  }

  /* Styling Nav */
  .main-navigation {
    display: block;
    width: 100%;
    .kmt-sitehead-custom-menu-items {
      display: block;
    }

    ul {
      > li:first-child {
        border-top: 0;
      }

      ul {
        left: auto;
        right: auto;
      }
    }

    li {
      width: 100%;
    }
    .widget {
      margin-bottom: 1em;
      li {
        width: auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
// Header Builder
.kmt-main-header-wrap {
  position: relative;
}
.kmt-grid-row {
  min-height: var(--minHeight);
}
.kmt-main-header-wrap {
  .kmt-grid-row {
    --minHeight: 70px;
  }
}
.kmt-top-header-wrap,
.kmt-bottom-header-wrap {
  .kmt-grid-row {
    --minHeight: 70px;
  }
}
[class*="-header-wrap"] {
  > [class*="-header-bar"] {
    &[data-border="full"] {
      border-bottom: var(--borderBottom, 1px solid var(--borderColor));
    }
    &[data-border="default"] {
      [class*="-header-inner"] {
        border-bottom: var(--borderBottom, 1px solid var(--borderColor));
      }
    }
    .header-bar-content {
      background-color: var(--backgroundColor);
    }
  }
}
.kmt-builder-grid-row-container {
  display: grid;
  align-content: center;
}
.kmt-container {
  &[class*="section-header-"] {
    position: relative;
    [class*="site-header-"] {
      flex-wrap: nowrap;
      position: relative;
    }
  }
}
.kmt-grid-row {
  display: grid;
  grid-template-columns: var(--gridTemplateColummns, auto auto);
  align-items: center;
  grid-column-gap: 20px;
  overflow-wrap: anywhere;
  &.kmt-has-center-items {
    --gridTemplateColummns: 1fr auto 1fr;
  }
  &.kmt-has-center-items-only {
    -js-display: flex;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}
.site-header-section {
  height: 100%;
  min-height: 0;
  align-items: center;
}
.kmt-grid-right-section {
  justify-content: flex-end;
}
.site-header-section {
  > div {
    &:last-child {
      margin-right: 0px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
.kmt-grid-left-center-section {
  justify-content: flex-end;
  flex-grow: 1;
}
.kmt-grid-right-center-section {
  justify-content: flex-start;
  flex-grow: 1;
}
#kmt-mobile-header {
  display: none;
}
.kmt-header-break-point {
  #kmt-desktop-header {
    display: none;
  }
  #kmt-mobile-header {
    display: block;
  }
}
#kmt-mobile-header {
  position: relative;

  .nav-fallback-text {
    float: right;
  }
  &::before {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
}
.toggle-button {
  --fontStyle: 1.5em;
  --fontWeight: normal;
  --borderRadius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  .toggle-button-icon {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
    cursor: pointer;
  }
  &.toggled {
    .toggle-button-icon {
      &:before {
        content: "\e905";
      }
    }
  }
}
.kmt-top-header-wrap {
  .top-header-bar {
    transition: all 0.3s linear;
  }
}
.top-header-bar {
  position: relative;
}
.kmt-main-header-wrap {
  .main-header-bar {
    transition: all 0.3s linear;
  }
}
.bottom-header-bar {
  position: relative;
}
.kmt-bottom-header-wrap {
  .bottom-header-bar {
    transition: all 0.3s linear;
  }
}
// Popup Content
.kmt-popup-main {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
  opacity: 0;
  visibility: hidden;
  &.kmt-popup-left {
    left: -99999rem;
  }
  &.kmt-popup-right {
    right: 99999rem;
  }
  &.active {
    &.kmt-popup-left {
      .kmt-popup-content {
        right: auto;
        left: 0;
      }
    }
    &.kmt-popup-right {
      .kmt-popup-content {
        right: 0;
        left: auto;
      }
    }
    opacity: 1;
    visibility: visible;
    z-index: 100000;
    transition: opacity 0.25s ease-out;
    .kmt-popup-overlay {
      visibility: visible;
      opacity: 1;
    }
    .kmt-popup-content {
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
    }
  }
  .toggle-button-close {
    background: transparent;
    border: 0;
    --fontSize: 24px;
    --lineHeight: 1;
    --padding-top: 0.6em;
    --padding-left: 0.6em;
    --padding-bottom: 0.6em;
    --padding-right: 0.6em;
    --buttonColor: var(--headingColor);
    display: flex;
    box-shadow: none;
  }
}

.kmt-popup-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.kmt-popup-full-width {
  .kmt-popup-content {
    max-width: 100%;
  }
}
.kmt-popup-content {
  width: 100%;
  top: 0;
  right: 0;
  background: var(--globalBackgroundColor);
  bottom: 0;
  opacity: 0;
  position: fixed;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.4s cubic-bezier(0.77, 0.2, 0.05, 1),
    visibility 0.4s cubic-bezier(0.77, 0.2, 0.05, 1),
    -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow-y: auto;
  overflow-x: hidden;
  .kmt-header-item {
    padding: 10px 15px;
  }
}
.kmt-popup-left {
  .kmt-popup-content {
    transform: translateX(-100%);
    left: 0;
  }
}
.kmt-popup-right {
  .kmt-popup-content {
    transform: translateX(100%);
    right: 0;
  }
}
.kmt-popup-align-left {
  #offcanvas-menu {
    .kmt-menu-item-wrap {
      justify-content: flex-start;
    }
  }
  .kmt-header-item {
    justify-content: flex-start;
  }
  .kmt-popup-body-content {
    text-align: left;
  }
}
.kmt-popup-align-right {
  #offcanvas-menu {
    .kmt-menu-item-wrap {
      justify-content: flex-end;
    }
  }
  .kmt-header-item {
    justify-content: flex-end;
  }
  .kmt-popup-body-content {
    text-align: right;
  }
}
.kmt-popup-align-center {
  .kmt-header-item {
    justify-content: center;
  }
  #offcanvas-menu {
    .kmt-menu-item-wrap {
      justify-content: center;
    }
  }
  .kmt-popup-body-content {
    text-align: center;
  }
}
.kmt-popup-valign-top {
  .kmt-popup-body-content {
    justify-content: flex-start;
  }
}
.kmt-popup-valign-bottom {
  .kmt-popup-body-content {
    justify-content: flex-end;
  }
}
.kmt-popup-valign-center {
  .kmt-popup-body-center {
    justify-content: center;
  }
}
.kmt-header-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  max-height: inherit;
}
.kmt-popup-body-content {
  min-height: calc(100% - (1.2em + 24px));
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: calc(1.2em + 24px);
}
.kmt-popup-header {
  display: flex;
  justify-content: flex-end;
  min-height: calc(1.2em + 24px);
}
.header-bar-content {
  padding: 0 15px;
}
.icon-menu {
  svg {
    transition: fill 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
.kmt-close-icon {
  width: 18px;
}
.header-toggle-button {
  padding: 10px;
  cursor: pointer;
}
.header-toggle-button.toggled path:nth-child(1) {
  transform: rotate(45deg);
  width: 18px;
  height: 6.15px;
}

.header-toggle-button.toggled path:nth-child(2) {
  opacity: 0;
}

.header-toggle-button.toggled path:nth-child(3) {
  transform: rotate(-45deg);
  width: 18px;
  height: 6.15px;
}

.header-toggle-button path:nth-child(1) {
  -webkit-transform-origin: 50% 33%;
  -ms-transform-origin: 50% 33%;
  transform-origin: 50% 33%;
}

.header-toggle-button path {
  width: 18px;
  -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform-origin: 10% 57%;
  -ms-transform-origin: 10% 57%;
  transform-origin: 10% 57%;
}
/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--linksHoverColor);
  }
}
