.sticky-custom-logo-link
{
  display: none;
}

.kmt-is-sticky
{
  position: fixed;
  width: 100%;
  .sticky-custom-logo-link
  {
    display: inline-block;
  }
}

.kmt-is-sticky.kmt-sticky-logo .custom-logo-link
{
  display: none;
}