/**
 * 	Header Layouts
 *
 * @import
 * 1 - Header Layout 1
 * 2 - Header Layout 2
 * 3 - Header Layout 3
 * 4 - Header Inline Logo & Site Title 
 * 5 - Next Button Menu Item
 * 6 - Responsive Style
*/

/* 4 - Next Button Menu Item */
.main-header-bar {
	z-index: 1;
}
.site-header {
	.kmt-main-header-bar-alignment {
		margin-left: auto;
	}
}
/**
 * 1 - Header Layout 1
*/
.header-main-layout-1 {
	.main-header-bar-navigation {
		text-align: right;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	.kmt-main-header-bar-alignment {
		margin-left: auto;
	}
	.main-navigation {
		padding-left: 15px;
		vertical-align: top;
	}
}
.kmt-header-break-point {
	.header-main-layout-1 {
		.site-branding{
			padding-right: 1em;
		}
		.main-header-bar-navigation {
			text-align: left;
		}
		.main-navigation {
			padding-left: 0;
		}
	}
}

/**
 * 2 - Header Layout 2
*/
.header-main-layout-2 {
	.main-header-container {
		display: block;
	}
	.site-branding {
		text-align: center;
		padding-bottom: 1em;
	}
	.site-title {
		justify-content: center;
	}
	.main-navigation {
		ul{
			justify-content: center;
		}
	}
	.main-header-bar-navigation {
		text-align: center;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	.kmt-header-custom-item{
		justify-content: center;
		line-height: 1.85714285714286;
	}
	.kmt-sitehead-custom-menu-items{
		position: relative;
	}
	.widget{
		text-align: center;
	}
}

.kmt-header-break-point {
	.header-main-layout-2 {
		.site-branding{
			display: block;
		}
		.kmt-mobile-menu-buttons{
			text-align: center;
			display: block;
		}
		.site-branding,
		.kmt-mobile-menu-buttons {
			padding-bottom: 1em;
		}
		.main-header-bar {
	    	padding: 1em 0 0;
	    }
	    .main-header-bar-navigation,
	    .widget {
			text-align: left;
		}
	}
}

/**
 *  3 - Header Layout 3
*/
.header-main-layout-3 {
	.main-header-container	{
		  flex-direction: row-reverse;
	}
	.kmt-main-header-bar-alignment {
		margin-right: auto;
		margin-left: 0 !important;
	}
	.main-navigation {
		padding-right: 15px;
		ul {
			justify-content: flex-start;
		}
	}
	.main-header-bar-navigation {
		text-align: left;
	}
	.kmt-header-custom-item{
		justify-content: flex-start;
	}
	// .kmt-sitehead-custom-menu-items{
	// 	position: relative;
	// }
	.kmt-search-menu-icon form{
		right: auto;
	}
	li .kmt-search-icon{
		padding-left: .5em;
	}
	.kmt-search-menu-icon {
    	left: 0;
    	right: 0;
    }
	li .kmt-search-menu-icon {
		left: 1em;
		right: 0;
	}
}

.kmt-header-break-point {
	.header-main-layout-3 {
		.kmt-mobile-menu-buttons {
			justify-content: flex-start;
		}
		li .kmt-search-menu-icon {
			left: 0;
		}
		.site-branding{
			padding-left: 1em;
			justify-content: flex-end;
		}
		.main-navigation {
			padding-right: 0;
		}
	}
}

/**
 * 4 - Header Inline Logo & Site Title 
*/
.kmt-logo-title-inline{
	.kmt-site-identity {
	    display: inline-flex;
	    vertical-align: middle;
	    align-items: center;
	}
	.site-logo-img{
		padding-right: 1em;
	}
	&.header-main-layout-2{
		.site-logo-img + .kmt-site-title-wrap .site-title{
			justify-content: flex-start;
		}
	}
}

/* Mobile Header Alignment */
@media (max-width: $mx-col-sm) {
	.kmt-header-break-point {
		.site-branding,
		#sitehead .site-logo-img .custom-logo-link{
			img{
				max-width: 100%;
			}
		}
		.kmt-mobile-header-inline {
			.main-header-container {
				display: flex;
			}
			.site-branding {
				text-align: left;
			}

			.site-title {
				justify-content: left;
			}
		}
		.kmt-mobile-header-stack {
			.main-header-bar{
				padding: 1em 0 0;
			}
			.main-header-container {
				display: block;
			}
			.site-title {
				justify-content: center;
				text-align: center;
			}
			.site-branding,
			.kmt-mobile-menu-buttons {
				justify-content: center;
				text-align: center;
				padding-bottom: 1em;
				padding-right: 0;
			}
		}

		.kmt-logo-title-inline{
			.kmt-site-identity {
		    	display: block;
		    }
		    .site-logo-img{
				padding-right: 0;
			}
		}
	}
}

/**
 *  4 - Header Layout 4
*/
.header-main-layout-4 {
	.main-header-container
	{
		position: relative;
		display: flex;
		justify-content: center;
	}
	.kmt-main-header-bar-alignment {
		flex: 0;
		margin-left: 0 !important;
	}
	.site-branding
	{
		width: 20%;
		text-align: center;
		z-index: 2;
		.site-title
		{
			display: block;
		}
	}
	.main-header-container
	{
		ul#primary-menu
		{
			position: absolute;
			right: 0;
			top:0;
			width: 40%;
			
		}
		ul#primary-menu.kmt-justify-content-flex-end
		{
			justify-content: flex-start;
			
		}
		ul#left-menu
		{
			position: absolute;
			left: 0;
			top:0;
			width: 40%;
		}
		ul#left-menu.kmt-justify-content-flex-end
		{
			justify-content: flex-end;
		}

	} 
}