.customize-control-kmt-description .kmt-description {
    font-style: italic;
}
.customize-control-kmt-description a.button {
    margin-top: 5px;
    font-style: normal;
}
.customize-control-kmt-description p{
	margin: 0;
	cursor: initial;
}