/**
 * Kemet Theme compatibility with Contact Form 7
 */
@import "../variables-site/colors";
@import "../mixins/mixins-master";

.wpcf7 {
  .wpcf7-form {
    .ajax-loader {
      display: none;
    }
  }
  form {
    position: relative;
    > p {
      --marginBottom: 1.2em;
    }
    > div {
      margin-bottom: 1.2em;
    }
  }

  .wpcf7-form-control-wrap {
    width: 100%;
    display: block;
  }

  input:not([type="submit"]):focus,
  textarea:focus,
  select:focus {
    outline: 0;
    box-shadow: none;
  }

  input:not([type="submit"]),
  textarea,
  select {
    width: 100%;
  }

  input[type="file"] {
    height: auto;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    @include kmt-transition();
  }

  /* Button */

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    clear: none;
    cursor: pointer;
    line-height: 0;
    height: 1.2em;
    margin: -3px 4px 0 0;
    outline: 0;
    padding: 0;
    border-radius: 0.2em;
    text-align: center;
    vertical-align: middle;
    width: 1.4em;
    min-width: 1.4em;
    @include kmt-transition();
  }

  /* Validation Fix */

  .wpcf7-validation-errors {
    border-color: #f00;
  }
}
