.kmt-notification {
  background-color: #f3fcff;
  padding: 15px;
  border-left: 3px solid #71d7f7;
  position: relative;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
}
