.customize-control-kmt-readymade-headers {
  label {
   box-sizing: border-box;
    &.active {
      img {
        border: 1px solid #0085ba;
        background-color: #0085ba;
      }
    }
    &:focus {
      img {
        border: 1px solid #0085ba;
        background-color: #0085ba;
      }
    }
    &:checked {
      img {
        border: 1px solid #0085ba;
        background-color: #0085ba;
      }
    }
    img {
      border: 1px solid #f1f1f1;
      background-color: #ccc;
      width: 100%;
      max-width: none;
    }
  }
}
