/**
 * 	Navigations
 *
 * @import
 * 1 - Primary Menus
 * 2 - Secondary Menus
 * 3 - Header Top Menus
 * 
 * Contents
 * 1 - Toggle Button
 * 
*/

/**
 * @import
 */

/* 1 - Primary Menus */
@import "primary-menu";

/**
 * Contents
 */

/* Toggle Button */
.kmt-button-wrap {
  display: inline-block;

  button {
    box-shadow: none;
    border: none;
  }

  .toggle-button {
    padding: 10px;
    width: 2.2em;
    height: 2.1em;
    font-size: 1.5em;
    font-weight: normal;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2px;
    vertical-align: middle;
    line-height: var(--lineHeight);

    &.header-toggle-button {
      padding: 0 0.5em;
      width: auto;
      text-align: center;
      .mobile-popup-wrap {
        font-size: 15px;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .toggle-button-icon {
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      line-height: 2.05;

      // &:before {
      //   content: "\e90c";
      //   font-family: "Kemet-font";
      //   text-decoration: inherit;
      //   font-weight: 600;
      // }
    }
    &.toggled {
      .toggle-button-icon {
        &:before {
          content: "\e905";
        }
      }
    }
    .mobile-popup-wrap {
      display: inline-block;
    }
  }
}

.kmt-mobile-menu-buttons {
  display: none;
}

.main-header-bar-navigation {
  flex: 1;
}

/* Responsive Screen */
.kmt-popup-main {
  .user-select {
    clear: both;
  }

  .kmt-mobile-menu-buttons {
    display: block;
  }

  .main-header-bar-navigation {
    flex: auto;
  }
  .kmt-main-header-bar-alignment {
    display: block;
    width: 100%;
    flex: auto;
    order: 4;
  }
}

/**
 * Post/Page Navigation
 */
.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous,
  .nav-next {
    width: 50%;
    display: inline-block;
  }
  .nav-previous {
    float: left;
  }

  .nav-next {
    float: right;
    text-align: right;
  }
}
.kmt-svg-icon {
  pointer-events: none;
	svg {
		fill: currentColor;
	}
}
.kmt-svg-icon {
	&.icon-dropdown-menu {
		svg {
			position: relative;
			margin-left: 10px;
		}
	}
	&.icon-search {
		svg {
			height: 1em;
			width: 0.9em;
			margin-top: 3px;
			margin-right: 2px;
		}
	}
}
#kmt-desktop-header {
		.sub-menu {
			.menu-item.menu-item-has-children {
        .kmt-svg-icon {
          &.icon-dropdown-menu {
            svg {
						position: absolute;
						right: .60em;
						top: 50%;
						transform: translate(0, -50%) rotate(270deg);
					}
				}
			}
    }
	}
}