.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

// Alignments
.kmt-align-center {
	justify-content: center;
}
.kmt-align-left {
	justify-content: flex-start;
}
.kmt-align-right {
	justify-content: flex-end;
}