#customize-theme-controls
  ul.customize-pane-child.accordion-section-content.accordion-section.control-section.control-section-kmt_section.open {
  height: 100%;
  padding: 12px 20px 12px 20px !important;
}
.kmt-options input[type="color"],
.kmt-options input[type="date"],
.kmt-options input[type="datetime-local"],
.kmt-options input[type="datetime"],
.kmt-options input[type="email"],
.kmt-options input[type="month"],
.kmt-options input[type="number"],
.kmt-options input[type="password"],
.kmt-options input[type="search"],
.kmt-options input[type="tel"],
.kmt-options input[type="text"],
.kmt-options input[type="time"],
.kmt-options input[type="url"],
.kmt-options input[type="week"],
.kmt-options select,
.kmt-options textarea {
  border: 1px solid #dcdddf !important;
  border-radius: 0 !important;
}

.customize-section-title {
  margin: -12px -20px 0 -20px !important;
}
#customize-theme-controls .customize-pane-child.accordion-section-content {
  padding: 12px 20px 25px 20px;
}
.customize-control-kmt-focus-button {
  margin-top: 0px !important;
}
[class*="kmt-control-title"] {
  font-size: 13px !important;
  font-weight: 500 !important;
  display: inline-block !important;
  letter-spacing: 0.1px;
}
.components-popover__content {
  border-radius: 0px !important;
}
