.customize-control-kmt-radio
  .kmt-radio-container-control
  button.components-button.is-tertiary,
.customize-control-kmt-row-layout
  .kmt-radio-container-control
  button.components-button.is-tertiary {
  box-shadow: inset 0px 0px 0px 1px #ddd;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
