.customize-control-kmt-slider .wrapper {
  position: relative;
  display: flex;
}
.customize-control-kmt-slider .wrapper .kemet-slider {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.customize-control-kmt-slider .input-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input-field-wrapper .kemet_range_value {
  margin-left: 16px;
  margin-bottom: 0;
  flex: 0 1 88px;
}
.customize-control-kmt-slider .kmt-slider-reset {
  color: rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: 5px;
}

.customize-control-kmt-slider .kmt-slider-reset span {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.customize-control-kmt-slider .kmt-slider-reset:not(:disabled):hover,
.customize-control-kmt-slider .kmt-slider-reset:not(:disabled):focus {
  color: #057bb6;
}
.input-field-wrapper .components-range-control.kmt-range-value-input {
  flex-grow: 1;
  margin-bottom: 0;
}
.kmt-range-value-input {
  width: 100%;
}
.kmt-range-value-input .components-base-control__field {
  margin-bottom: 0px;
}
.css-1u6yfd4-Wrapper {
  margin-left: 0px !important;
}
.kemet_range_value .kmt-range-unit {
  margin-left: 5px;
}

.customize-control-kmt-slider .input-field-wrapper {
  display: none;
  width: 100%;
}

.customize-control-kmt-slider .input-field-wrapper.active {
  display: flex;
}

/**
 * Responsive Icons
 */
.customize-control-kmt-slider .customize-control-title {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
}

.customize-control-kmt-slider .kmt-slider-units {
  position: absolute;
  transform: translateY(-130%);
  font-size: 11px;
  text-transform: uppercase;
  right: 1px;
}

.customize-control-kmt-slider .kmt-slider-units li.single-unit {
  display: inline-block;
  margin-left: 6px;
  width: 16px;
  text-align: center;
  user-select: none;
  opacity: 0.7;
}

.customize-control-kmt-slider .kmt-slider-units li.single-unit.active {
  font-weight: bold;
  text-decoration: underline;
  opacity: 1;
}

.description.customize-control-description {
  margin-bottom: 20px;
  margin-top: 10px;
}

.kmt-responsive-control-btns {
  line-height: 1;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 8;
}

.kmt-responsive-control-btns > li {
  margin-bottom: 0;
  display: none;
  overflow: hidden;
}

.kmt-responsive-control-btns > li.active {
  display: inline-block;
}

.kmt-responsive-control-btns button[type="button"] {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 4px;
  border-radius: 20px;
  width: 24px;
  height: 24px;
}

.kmt-responsive-control-btns button[type="button"] > i {
  width: 15px;
  height: 13px;
  font-size: 17px;
  color: #bbb;
}
.kemet-slider-wrap {
  position: relative;
  margin-bottom: 0;
  margin-top: 25px;
}
.customize-control-kmt-slider .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customize-control-kmt-slider .kmt-slider-reset {
  display: inline-block;
  margin-left: 7px;
  color: rgba(0, 0, 0, 0.2);
  outline: 0;
  border: 0;
}

.kemet_range_value .kmt-range-unit {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 28px;
  background: #fff;
  cursor: default;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  align-self: auto;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.1s ease, font-weight 0.1s ease;
  padding: 0;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0;
}
