.components-toggle-control .components-base-control__field {
  display: flex;
  margin-bottom: 12px;
  line-height: normal;
  align-items: center;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.toggle-control-label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.75;
}
.components-base-control__field .components-form-toggle {
  margin-right: 0px !important;
}
input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.components-form-toggle
  .components-form-toggle__input:focus
  + .components-form-toggle__track {
  outline: none !important;
  box-shadow: none !important;
}
.components-form-toggle .components-form-toggle__track {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  width: 36px;
  height: 18px;
  border-radius: 9px;
  transition: background 0.2s ease;
}
.components-form-toggle .components-form-toggle__thumb {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: transform 0.1s ease;
  background-color: #bdbdbd;
  border: 0px !important;
}
