.components-toggle-control .components-base-control__field {
  display: flex;
  margin-bottom: 12px;
  line-height: normal;
  align-items: center;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.toggle-control-label {
  font-weight: 600;
}
.components-base-control__field .components-form-toggle {
  margin-right: 0px !important;
}
