.components-toggle-control .components-base-control__field {
  display: flex;
  margin-bottom: 12px;
  line-height: normal;
  align-items: center;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.toggle-control-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
}
.components-base-control__field .components-form-toggle {
  margin-right: 0px !important;
}
input[type="checkbox"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.components-form-toggle
  .components-form-toggle__input:focus
  + .components-form-toggle__track {
  outline: none !important;
  box-shadow: none !important;
}
