.top-navigation {
    display: flex;
    align-items: center;
    line-height: 2;
  }

.top-navigation .nav-menu
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    z-index: 99999;
    .sub-menu {
      min-width: 150px;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: -999em;
      left: -999em;
    }
    
    li {
      display: inline-block;
      position: relative;
      text-align: left;
  
      &.focus,
      &:hover {
        > .sub-menu {
          top: auto;
          left: auto;
        }
      }
      
      li {
        display: block;
        
        &.focus,
        &:hover {
          > .sub-menu {
            left: 100%;
            top: 0;
          }
        }
      }
    }
    
    // Global menu link styles
    a {
      text-decoration: none;
      display: block;
      white-space: nowrap;
      padding: 0 1em;
    }
    
    // First level item arrows
    .menu-item-has-children {
        > a {

            &::after {
                content: "\e900";
                display: inline-block;
                font-family: Kemet;
                font-size: 9px;
                font-size: .6rem;
                font-weight: 700;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-left: 10px;
                vertical-align: middle;
                line-height: normal;
            }
      }
    }
    
    // Second level item arrows
    .sub-menu .menu-item-has-children
    {

        > a {  
            &::after {
                content: "\e900";
                display: inline-block;
                font-family: Kemet;
                font-size: 9px;
                font-size: .6rem;
                font-weight: 700;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-left: 10px;
                vertical-align: middle;
                line-height: normal;
                position: absolute;
                right: 1em;
                top: 50%;
                -webkit-transform: translate(0,-50%) rotate(270deg);
                -ms-transform: translate(0,-50%) rotate(270deg);
                transform: translate(0,-50%) rotate(270deg);
            
            }
      }
    }
  }