/**
 *	Common Stylesheet of Single Post
 *
 *	Content
 *	1 - Single Post Navigation Styles
 *	2 - Single Post Article Header
*/

.single {
  .entry-header {
    margin-bottom: 2em;
  }

  /* 1 - Single Post Navigation Styles */
  .post-navigation {
    margin: 0;
    padding: 2em 0;
    border-top-width: 1px;
    border-top-style: solid;
    @media (max-width: $mx-col-md) {
      padding-top: 1.5em;
    }

    a {
      margin: 2px;
      display: inline-block;
      text-align: center;
      color: #000;
    }
  }

  /*Page builder single post meta*/
  &.kmt-page-builder-template {
    .entry-header {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
/* 2 - Single Post Article Header */
.single {
  .entry-header {
    .kmt-single-post-order {
      + .post-thumb {
        img {
          margin-top: 1em;
          margin-bottom: 0;
        }
      }
    }
    &.kmt-no-title {
      .post-thumb {
        + .kmt-single-post-order {
          margin-top: 0;
        }
      }
    }
    .post-thumb {
      + .kmt-single-post-order {
        margin-top: 1em;
      }
    }
    .post-thumb {
      img {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
}
.page {
  .has-post-thumbnail {
    .post-thumb {
      img {
        margin-bottom: 1.5em;
      }
    }
  }
}

.post-password-form {
  @media (max-width: $mx-col-xs) {
    input[type="password"] {
      display: block;
      margin: 10px auto;
    }
  }
}
.kmt-single-post {
  .has-pale-pink-background-color {
    background-color: #000 !important;
  }
  .is-style-squared {
    .wp-block-button__link {
      border-radius: 0;
    }
  }
  .wp-block-gallery {
    margin-bottom: 20px;
    padding: 0;
  }
  .alignleft {
    display: inline;
    float: left;
    margin-right: 2em;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 2em;
  }
  img[class*="wp-image"].alignleft,
  .wp-caption.alignleft {
    margin: 0.5em 1em 0.5em 0;
  }
  img[class*="wp-image"].alignright,
  .wp-caption.alignright {
    margin: 0.5em 0 0.5em 1em;
  }
  .wp-block-gallery,
  .blocks-gallery-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .wp-block-file {
    margin-bottom: 0;
  }
  .wp-block-latest-comments__comment-excerpt p {
    margin: 0;
  }
  .wp-block-cover .wp-block-cover-text {
    line-height: inherit;
  }
  .wp-block-file a.wp-block-file__button {
    &:hover {
      opacity: 1;
    }
  }
  pre.wp-block-verse {
    font-family: "Courier 10 Pitch", Courier, monospace;
  }
  p.has-drop-cap {
    overflow: hidden;
  }
}
.wp-block-cover.has-left-content {
  .wp-block-cover-text {
    width: 100%;
    max-width: 100%;
  }
}
//Separate container
.kmt-separate-container {
  .post-navigation {
    border-top: 0;
    padding-left: 3.33333em;
    padding-right: 3.33333em;
    @media (max-width: $mx-col-xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: $mx-col-md) {
    .entry-header {
      margin-bottom: 1em;
    }
  }
}
