.customize-control-kmt-responsive-color {
  position: relative;
}
.customize-control-kmt-reponsive-color .wp-color-result span {
  background: #f7f7f7;
}
.customize-control-kmt-reponsive-color .wp-color-result.button {
  min-height: 24px;
}
.customize-control-kmt-reponsive-color .customize-control-content {
  display: none;
}
.customize-control-kmt-reponsive-color .customize-control-content.active {
  display: block;
}

.customize-control-kmt-reponsive-color
  .wp-picker-container
  input[type="text"].wp-color-picker {
  width: 65px !important;
}
.kmt-responsive-color-btns a {
  cursor: pointer;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0px;
  border-radius: 20px;
  background-color: #bbb;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.kmt-responsive-color-btns a:focus {
  outline: none;
  box-shadow: none;
}
.kmt-responsive-color-btns a > i {
  width: auto;
  height: auto;
  color: #fff;
  font-size: 13px;
  line-height: 25px;
}
